###### ### The University of Melbourne, School of Computing and Information Systems
# COMP30027 Machine Learning, 2021 Semester 1

## Assignment 1: Pose classification with naive Bayes

**Student ID(s):**     `PLEASE ENTER YOUR ID(S) HERE`

This iPython notebook is a template which you will use for your Assignment 1 submission.

Marking will be applied on the four functions that are defined in this notebook, and to your responses to the questions at the end of this notebook (Submitted in a separate PDF file).

**NOTE: YOU SHOULD ADD YOUR RESULTS, DIAGRAMS AND IMAGES FROM YOUR OBSERVATIONS IN THIS FILE TO YOUR REPORT (the PDF file).**

You may change the prototypes of these functions, and you may write other functions, according to your requirements. We would appreciate it if the required functions were prominent/easy to find.

**Adding proper comments to your code is MANDATORY. **

In [109]:
# This function should prepare the data by reading it from a file and converting it into a useful format for training and testing

import pandas as pd
import numpy as np
from collections import defaultdict
import re
from math import sqrt
from math import exp
from math import pow
from math import pi
from math import log
import matplotlib.pyplot as plt
%matplotlib inline

# def open_file(class_count_dict,class_dict, X, y):
#     filename="COMP30027_2021_assignment1_data/train.csv"
#     f = open(filename,'r')
#     n_instances = 0
#     for line in f.readlines()[0:]:
#         cleaned_line = line.strip().split(",")
#         attributes = cleaned_line[1:]
#         class_name = cleaned_line[0]
#         X.append(attributes)
#         y.append(class_name)
#         if class_dict.get(class_name) is None:
#             class_dict[class_name]=[]
#         # appending each
#         class_dict[class_name].append(attributes)
#         n_instances += 1
#         class_count_dict[cleaned_line[0]] += 1
#     print(n_instances)

#     f.close
#     return None

# #change all missing values from 9999 to 0 
# def remove_missing_values(X):
#     for i in range(len(X)):
#         for j in range(len(X[i])):
#             if X[i][j] == 9999:
#                 X[i][j] = 0
#     return None

# #convert data type from string to float                
# def str_to_float(X):
#     for i in range(len(X)):
#         for j in range(len(X[i])):
#             X[i][j] = float(X[i][j])
#     return None


def preprocess(columns):
    filename="COMP30027_2021_assignment1_data/train.csv"
    f = open(filename,'r')
    
    train_collection = pd.read_csv(filename,names = columns,na_values=[9999]) 
    
    train_instance_count = train_collection.groupby(["class_name"]).size().reset_index(name='size').set_index("class_name")
    
    class_names = train_collection.class_name.unique()
    
    f.close
    return train_collection,train_instance_count,class_names

In [130]:
# This function should calculate prior probabilities and likelihoods from the training data and using
# them to build a naive Bayes model

# def mean(array):
#     return (sum(array)/len(array))

# def standard_deviation(array,mean_val):
#     total = 0
#     for one in array:
#         total+=(pow((one-mean_val),2))
#     result = sqrt(total/(len(array)-1))
#     return result

# def train(class_dict, class_count_dict,training_details,attr_length,total_inst):
    
#     # dictionary format {key : [[means], [standard deviation], class_prob]}
#     for key in class_dict.keys():
        
#         if training_details.get(key) is None:
#             training_details[key]=[]
            
#         #array to store each attributes' mean value
#         mean_array=[]
        
#         #array to store each standard deviations' value
#         std_dev_array=[]
        
#         for i in range(attr_length):
#             attr_array = [instance[i] for instance in class_dict[key]]
            
#             mean_val = mean(attr_array)
#             std_dev_val = standard_deviation(attr_array,mean_val) 
            
#             mean_array.append(mean_val)
#             std_dev_array.append(std_dev_val)
#         #append mean, standard deviation & class probability to training details dictionary
#         training_details[key].append(mean_array)
#         training_details[key].append(std_dev_array)
#         class_prob = class_count_dict[key]/total_inst
#         training_details[key].append(class_prob)
#     return

def train(training_df,train_instance_count):
    
    standard_devs = training_df.groupby(["class_name"]).std()
    means = training_df.groupby(["class_name"]).mean()
    class_priors = pd.DataFrame(train_instance_count['size'].div(float(len(training_df))))
#     class_priors.set_index("class_name")
#     print(standard_devs.loc['bridge']['x1'])

#     print(train_collection.groupby(["class_name"]).mean())
    return standard_devs, means, class_priors

# This function should predict classes for new items in a test dataset (for the purposes of this assignment, you
# can re-use the training data as a test set)
def gaussian_distribution(val,mean,std_dev):
    exponential = exp(-(1/2)* (pow(((val-mean)/std_dev),2)))
    result = (1/(std_dev * sqrt(2*pi)))* exponential
    return result

def take_log(val):
    if(val==0):
        return 0
    else:
        return log(val)

# def probability(instance,training_details,attr_num,class_num):
#     probs = defaultdict()
    
#     #find the likelihood/probability of the instance in each class
#     for key in training_details.keys():
#         total_prob=0
#         sum_gaussian_prob=0
        
#         # likelihood of the instance's attribute based on the class
#         for i in range(attr_num):
# #             attr_mean = training_details[key][0][i]
# #             attr_std_dev = training_details[key][1][i]
#             attr_mean
#             gauss_prob = gaussian_distribution(instance[i],attr_mean,attr_std_dev)
#             #take_log here to handle log(0) for now as log(0) cant be computed
#             sum_gaussian_prob+=take_log(gauss_prob)
            
#         # probability of the instance being a class :  log(class prob) + sum(log(each attribute))
#         total_prob+=sum_gaussian_prob
#         class_prob=training_details[key][2]
#         total_prob+=log(class_prob)
        
#         # put in dictionary
#         probs[key] = total_prob

#     return probs
            
# def predict(training_details,attr_num,class_num,X_test,y_test):
#     f_test = open("COMP30027_2021_assignment1_data/test.csv",'r')
#     for line in f_test.readlines()[0:]:
#         cleaned_line = line.strip().split(",")
#         attributes = cleaned_line[1:]
#         class_name = cleaned_line[0]
#         X_test.append(attributes)
#         y_test.append(class_name)
#     f_test.close()
    
#     str_to_float(X_test)
#     remove_missing_values(X_test)
    
#     result_class=[]
    
#     for instance in X_test:
#         #probability dictionary for every classes on one test instance
#         probability_dict=probability(instance,training_details,attr_num,class_num)
#         #find the class name with the highest probability
#         class_max_prob = max(probability_dict, key=probability_dict.get)
#         instance.insert(0,class_max_prob)
    
#     X_arr=np.array(X_test)
    
#     np.savetxt("COMP30027_2021_assignment1_data/test-result.csv", X_arr,fmt='%s',delimiter=",")
#     #will probably need to write the result to a new csv for evaluation after
    
#     class_predicted =[instance[0] for instance in X_arr]
#     return class_predicted

def probability(instance,means,std_dev,attr_num,class_priors,class_names):
    probs = defaultdict()
#     print(means)
#     print(class_names)
    attributes = means.columns

    for key in class_names:
        total_probs=0
        sum_gaussian_probs=0
        
        class_mean=means.loc[key]
        class_std_dev=std_dev.loc[key]
        print(class_mean)
#         print(class_std_dev)
        for att in attributes:
            mean = class_mean.loc[att]
            standard_dev = class_std_dev.loc[att]
            gauss_prob = gaussian_distribution(instance.loc[att],attr_mean,attr_std_dev)
            sum_gaussian_prob+=log(gauss_prob)
            
        # probability of the instance being a class :  log(class prob) + sum(log(each attribute))
        total_prob+=sum_gaussian_prob
        class_prob=class_priors.loc[key]
        total_prob+=log(class_prob)
        
        # put in dictionary
        probs[key] = total_prob
#     print(probs)
    return probs
            
def predict(means,std_dev,class_priors,class_names):
    filename="COMP30027_2021_assignment1_data/test.csv"
    f = open(filename,'r')
    
    test_collection = pd.read_csv(filename,names = columns,na_values=[9999]) 
    
    test_instance_count = test_collection.groupby(["class_name"]).size().reset_index(name='size').set_index("class_name")
#     print(type(test_collection.iloc[0,1:]))
#     print(test_collection.columns)
    attr_num = len(test_collection.columns)-1
    
    for i in range(len(test_collection)):
        instance = test_collection.iloc[i,:]
        print("instance ",i)
        print(instance)
        #probability dictionary for every classes on one test instance
#         probability_dict = probability(instance,training_details,attr_num,class_num)
#     #find the class name with the highest probability
#     class_max_prob = max(probability_dict, key=probability_dict.get)
#     instance.insert(0,class_max_prob)
    
#     probability(test_collection.iloc[0,1:],means,std_dev,attr_num,class_priors,class_names)
    
    return

In [207]:
columns = ["class_name","x1","x2","x3","x4","x5","x6","x7","x8","x9","x10","x11","y1","y2","y3","y4","y5","y6","y7","y8","y9","y10","y11"]
training_df = pd.DataFrame()
train_instance_count = pd.DataFrame()
class_names=[]

training_df,train_instance_count,class_names = preprocess(columns)
standard_devs, means, class_priors = train(training_df,train_instance_count)

predict(means,standard_devs,class_priors,class_names)

                       size
class_name
bridge             0.108434
childs             0.092369
downwarddog        0.137885
mountain           0.214190
plank              0.076305
seatedforwardbend  0.057564
tree               0.089692
trianglepose       0.078983
warrior1           0.072289
warrior2           0.072289
instance  0
class_name     bridge
x1            126.836
x2            99.9275
x3                NaN
x4                NaN
x5            47.5551
x6            -9.7848
x7             7.3779
x8           -65.1004
x9           -62.3788
x10          -80.8448
x11          -63.5874
y1             2.4797
y2           -14.5613
y3                NaN
y4                NaN
y5           -30.3392
y6           -41.2163
y7            23.3146
y8            57.5625
y9            -24.693
y10           61.5094
y11          -34.0565
Name: 0, dtype: object
instance  1
class_name     bridge
x1                NaN
x2                NaN
x3                NaN
x4                NaN
x5                NaN
x6                NaN
x7            38.1608
x8           -43.0753
x9           -47.0571
x10           39.3277
x11           12.6438
y1                NaN
y2                NaN
y3                NaN
y4                NaN
y5                NaN
y6                NaN
y7            -1.1496
y8            31.4956
y9           -11.7053
y10           -4.8259
y11          -13.8147
Name: 1, dtype: object
instance  2
class_name     bridge
x1            135.819
x2            99.7615
x3                NaN
x4                NaN
x5            48.2256
x6           -14.1838
x7            16.3069
x8           -131.971
x9           -153.958
x10               NaN
x11               NaN
y1            12.3898
y2            -5.0926
y3                NaN
y4                NaN
y5           -38.7297
y6           -48.6293
y7            50.0013
y8            86.1222
y9           -56.0617
y10               NaN
y11               NaN
Name: 2, dtype: object
instance  3
class_name     bridge
x1           -95.5423
x2           -42.9766
x3           -31.4373
x4           -50.1283
x5                NaN
x6                NaN
x7            49.9728
x8                NaN
x9                NaN
x10           170.112
x11               NaN
y1            36.4305
y2             7.6738
y3           -42.7047
y4           -87.5917
y5                NaN
y6                NaN
y7            44.5574
y8                NaN
y9                NaN
y10           41.6346
y11               NaN
Name: 3, dtype: object
instance  4
class_name     bridge
x1                NaN
x2            -3.6378
x3                NaN
x4                NaN
x5            16.4145
x6           -12.7766
x7                NaN
x8                NaN
x9                NaN
x10               NaN
x11               NaN
y1                NaN
y2            71.5469
y3                NaN
y4                NaN
y5             2.3956
y6           -73.9424
y7                NaN
y8                NaN
y9                NaN
y10               NaN
y11               NaN
Name: 4, dtype: object
instance  5
class_name     bridge
x1           -125.379
x2           -92.3736
x3           -23.2825
x4            31.3671
x5            -84.153
x6                NaN
x7            -9.6872
x8            86.8267
x9            74.1494
x10           69.9216
x11           72.6105
y1            -9.2232
y2           -14.8855
y3           -38.5221
y4           -39.2748
y5            16.1746
y6                NaN
y7            41.3547
y8            53.9647
y9           -36.9725
y10           42.3909
y11          -15.0068
Name: 5, dtype: object
instance  6
class_name     bridge
x1            178.295
x2            125.699
x3                NaN
x4                NaN
x5            32.1528
x6                NaN
x7            65.1485
x8           -101.829
x9           -80.8403
x10          -124.297
x11          -94.3292
y1           -14.5557
y2           -42.4195
y3                NaN
y4                NaN
y5           -53.6304
y6                NaN
y7            37.1643
y8            73.1469
y9           -37.4752
y10           87.5292
y11          -49.7596
Name: 6, dtype: object
instance  7
class_name     bridge
x1            50.5512
x2            21.0889
x3                NaN
x4                NaN
x5           -45.8052
x6           -25.8349
x7                NaN
x8                NaN
x9                NaN
x10               NaN
x11               NaN
y1             7.5655
y2            -1.7428
y3                NaN
y4                NaN
y5           -28.3733
y6            22.5506
y7                NaN
y8                NaN
y9                NaN
y10               NaN
y11               NaN
Name: 7, dtype: object
instance  8
class_name     bridge
x1           -68.5309
x2           -41.7126
x3             1.4926
x4            57.9787
x5                NaN
x6                NaN
x7            50.7722
x8                NaN
x9                NaN
x10               NaN
x11               NaN
y1             7.4617
y2            -6.7937
y3           -18.0391
y4           -13.8689
y5                NaN
y6                NaN
y7              31.24
y8                NaN
y9                NaN
y10               NaN
y11               NaN
Name: 8, dtype: object
instance  9
class_name     bridge
x1           -38.0328
x2           -67.3949
x3           -167.579
x4           -201.975
x5                NaN
x6                NaN
x7           -20.5163
x8                NaN
x9                NaN
x10           127.851
x11           367.647
y1           -42.4556
y2           -32.2322
y3            -129.37
y4           -220.507
y5                NaN
y6                NaN
y7             56.099
y8                NaN
y9                NaN
y10           85.0936
y11           283.372
Name: 9, dtype: object
instance  10
class_name     bridge
x1                NaN
x2                NaN
x3                NaN
x4                NaN
x5                NaN
x6                NaN
x7           -52.3052
x8             12.963
x9            16.7496
x10            6.3167
x11            16.276
y1                NaN
y2                NaN
y3                NaN
y4                NaN
y5                NaN
y6                NaN
y7             12.927
y8              71.28
y9            72.2421
y10          -38.4842
y11          -117.965
Name: 10, dtype: object
instance  11
class_name     bridge
x1            159.674
x2            112.536
x3                NaN
x4                NaN
x5            33.1056
x6           -37.1018
x7            46.5821
x8           -14.7494
x9           -82.8299
x10          -103.023
x11          -114.193
y1           -30.4099
y2           -42.2184
y3                NaN
y4                NaN
y5           -55.6818
y6           -55.6984
y7            32.9489
y8            60.2303
y9            86.7874
y10           63.4543
y11          -59.4124
Name: 11, dtype: object
instance  12
class_name     bridge
x1                NaN
x2            116.606
x3                NaN
x4                NaN
x5                NaN
x6                NaN
x7            16.7877
x8            -3.4468
x9            -30.059
x10          -41.0149
x11          -58.8725
y1                NaN
y2            59.3746
y3                NaN
y4                NaN
y5                NaN
y6                NaN
y7              53.34
y8             10.894
y9            -1.2233
y10          -23.0051
y11          -99.3801
Name: 12, dtype: object
instance  13
class_name     bridge
x1            154.208
x2             111.48
x3                NaN
x4                NaN
x5            29.1509
x6           -34.3625
x7            29.1841
x8            -90.696
x9           -198.964
x10               NaN
x11               NaN
y1            -2.0463
y2            -8.9787
y3                NaN
y4                NaN
y5           -28.6573
y6           -34.9102
y7            47.8313
y8            39.3304
y9           -12.5692
y10               NaN
y11               NaN
Name: 13, dtype: object
instance  14
class_name     childs
x1             1.6267
x2           -41.4882
x3                NaN
x4                NaN
x5            56.2959
x6            120.836
x7            -137.27
x8                NaN
x9                NaN
x10               NaN
x11               NaN
y1            26.1303
y2            21.5752
y3                NaN
y4                NaN
y5           -61.5984
y6           -36.4199
y7            50.3127
y8                NaN
y9                NaN
y10               NaN
y11               NaN
Name: 14, dtype: object
instance  15
class_name     childs
x1                NaN
x2           -51.0835
x3             4.7563
x4            46.3272
x5                NaN
x6                NaN
x7                NaN
x8                NaN
x9                NaN
x10               NaN
x11               NaN
y1                NaN
y2            24.4596
y3           -20.9928
y4            -3.4668
y5                NaN
y6                NaN
y7                NaN
y8                NaN
y9                NaN
y10               NaN
y11               NaN
Name: 15, dtype: object
instance  16
class_name     childs
x1              82.07
x2            56.8582
x3            -14.052
x4           -56.1548
x5                NaN
x6                NaN
x7           -42.8275
x8            39.9534
x9           -65.8472
x10               NaN
x11               NaN
y1            -5.3628
y2            19.8305
y3            -2.9058
y4            -19.002
y5                NaN
y6                NaN
y7            27.7523
y8            -8.2588
y9           -12.0533
y10               NaN
y11               NaN
Name: 16, dtype: object
instance  17
class_name    childs
x1               NaN
x2               NaN
x3               NaN
x4               NaN
x5               NaN
x6               NaN
x7               NaN
x8               NaN
x9               NaN
x10              NaN
x11              NaN
y1               NaN
y2               NaN
y3               NaN
y4               NaN
y5               NaN
y6               NaN
y7               NaN
y8               NaN
y9               NaN
y10              NaN
y11              NaN
Name: 17, dtype: object
instance  18
class_name     childs
x1           -20.0349
x2            -53.971
x3             8.5043
x4            65.5016
x5                NaN
x6                NaN
x7                NaN
x8                NaN
x9                NaN
x10               NaN
x11               NaN
y1             7.5846
y2            22.7416
y3            -13.047
y4           -17.2791
y5                NaN
y6                NaN
y7                NaN
y8                NaN
y9                NaN
y10               NaN
y11               NaN
Name: 18, dtype: object
instance  19
class_name     childs
x1                NaN
x2            60.2982
x3                NaN
x4                NaN
x5                NaN
x6                NaN
x7           -39.0956
x8            20.8136
x9           -42.0162
x10               NaN
x11               NaN
y1                NaN
y2             8.5797
y3                NaN
y4                NaN
y5                NaN
y6                NaN
y7            19.5746
y8           -15.6468
y9           -12.5075
y10               NaN
y11               NaN
Name: 19, dtype: object
instance  20
class_name     childs
x1            80.3719
x2            38.6375
x3           -57.8227
x4                NaN
x5                NaN
x6                NaN
x7           -61.1867
x8                NaN
x9                NaN
x10               NaN
x11               NaN
y1           -22.2001
y2            26.2811
y3           -36.2892
y4                NaN
y5                NaN
y6                NaN
y7            32.2083
y8                NaN
y9                NaN
y10               NaN
y11               NaN
Name: 20, dtype: object
instance  21
class_name     childs
x1           -70.7986
x2           -52.9316
x3                NaN
x4                NaN
x5             3.3939
x6            43.3408
x7            47.0198
x8           -0.82988
x9            65.6342
x10          -34.8287
x11               NaN
y1            -5.7012
y2            22.0608
y3                NaN
y4                NaN
y5           -18.7131
y6           -15.2903
y7            25.1801
y8             9.3291
y9             -8.319
y10           -8.5465
y11               NaN
Name: 21, dtype: object
instance  22
class_name     childs
x1            75.9388
x2            57.2092
x3              1.057
x4           -52.1312
x5            0.28464
x6                NaN
x7           -41.2729
x8            23.5188
x9           -64.6044
x10               NaN
x11               NaN
y1             -6.743
y2            12.9734
y3             2.2275
y4           -17.2486
y5           -12.0278
y6                NaN
y7            30.3309
y8             8.2343
y9           -17.7466
y10               NaN
y11               NaN
Name: 22, dtype: object
instance  23
class_name     childs
x1                NaN
x2              63.25
x3                NaN
x4                NaN
x5            -5.3236
x6           -57.9264
x7                NaN
x8                NaN
x9                NaN
x10               NaN
x11               NaN
y1                NaN
y2            16.8622
y3                NaN
y4                NaN
y5            -5.0846
y6           -11.7776
y7                NaN
y8                NaN
y9                NaN
y10               NaN
y11               NaN
Name: 23, dtype: object
instance  24
class_name     childs
x1           -71.6412
x2           -45.2287
x3                NaN
x4                NaN
x5                NaN
x6                NaN
x7            54.7353
x8           -33.8112
x9            71.0063
x10          -33.1505
x11             58.09
y1            -7.3048
y2            23.7925
y3                NaN
y4                NaN
y5                NaN
y6                NaN
y7            21.1087
y8            -3.7531
y9           -14.2922
y10           -5.0802
y11          -14.4709
Name: 24, dtype: object
instance  25
class_name     childs
x1           -39.4848
x2           -24.0406
x3                NaN
x4                NaN
x5           -71.4003
x6           -117.243
x7            75.8844
x8            -2.9478
x9            89.1794
x10            1.3343
x11           88.7188
y1           -11.7924
y2            24.8718
y3                NaN
y4                NaN
y5            -3.2145
y6           -12.4071
y7            28.7432
y8            -2.6124
y9            -7.0538
y10           -7.4978
y11            -9.037
Name: 25, dtype: object
instance  26
class_name     childs
x1                NaN
x2            67.6307
x3             7.7051
x4           -75.3358
x5                NaN
x6                NaN
x7                NaN
x8                NaN
x9                NaN
x10               NaN
x11               NaN
y1                NaN
y2            31.8827
y3            -8.0288
y4           -23.8539
y5                NaN
y6                NaN
y7                NaN
y8                NaN
y9                NaN
y10               NaN
y11               NaN
Name: 26, dtype: object
instance  27
class_name    downwarddog
x1                    NaN
x2                52.4085
x3                    NaN
x4                    NaN
x5                0.37786
x6               -52.7863
x7                    NaN
x8                    NaN
x9                    NaN
x10                   NaN
x11                   NaN
y1                    NaN
y2                41.8511
y3                    NaN
y4                    NaN
y5                -7.9166
y6               -33.9345
y7                    NaN
y8                    NaN
y9                    NaN
y10                   NaN
y11                   NaN
Name: 27, dtype: object
instance  28
class_name    downwarddog
x1                    NaN
x2               -16.5962
x3                84.2596
x4                184.089
x5                    NaN
x6                    NaN
x7               -91.8857
x8                    NaN
x9                    NaN
x10              -159.867
x11                   NaN
y1                    NaN
y2                0.65462
y3               -93.8952
y4               -146.913
y5                    NaN
y6                    NaN
y7                66.4687
y8                    NaN
y9                    NaN
y10               173.685
y11                   NaN
Name: 28, dtype: object
instance  29
class_name    downwarddog
x1                    NaN
x2                    NaN
x3                    NaN
x4                    NaN
x5                    NaN
x6                    NaN
x7                    NaN
x8                    NaN
x9                    NaN
x10                   NaN
x11                   NaN
y1                    NaN
y2                    NaN
y3                    NaN
y4                    NaN
y5                    NaN
y6                    NaN
y7                    NaN
y8                    NaN
y9                    NaN
y10                   NaN
y11                   NaN
Name: 29, dtype: object
instance  30
class_name    downwarddog
x1                    NaN
x2                    NaN
x3                    NaN
x4                    NaN
x5                    NaN
x6                    NaN
x7                 -5.674
x8                46.4702
x9                63.4406
x10              -51.1864
x11              -53.0505
y1                    NaN
y2                    NaN
y3                    NaN
y4                    NaN
y5                    NaN
y6                    NaN
y7                71.3317
y8                  1.004
y9               -58.8032
y10               14.2402
y11              -27.7727
Name: 30, dtype: object
instance  31
class_name    downwarddog
x1                    NaN
x2                60.0125
x3                 9.5174
x4               -38.3682
x5                14.1496
x6               -45.3113
x7                    NaN
x8                    NaN
x9                    NaN
x10                   NaN
x11                   NaN
y1                    NaN
y2                61.3413
y3                10.0164
y4               -21.4628
y5                -3.9547
y6               -45.9401
y7                    NaN
y8                    NaN
y9                    NaN
y10                   NaN
y11                   NaN
Name: 31, dtype: object
instance  32
class_name    downwarddog
x1                    NaN
x2                    NaN
x3                    NaN
x4                    NaN
x5                    NaN
x6                    NaN
x7                -6.6175
x8                56.0203
x9                77.7427
x10              -54.4203
x11              -72.7251
y1                    NaN
y2                    NaN
y3                    NaN
y4                    NaN
y5                    NaN
y6                    NaN
y7                70.3845
y8                 9.2167
y9               -24.7186
y10                4.8531
y11              -59.7356
Name: 32, dtype: object
instance  33
class_name    downwarddog
x1                    NaN
x2                    NaN
x3                    NaN
x4                    NaN
x5                    NaN
x6                    NaN
x7                62.3007
x8                10.6179
x9               -56.9383
x10               18.8163
x11              -34.7966
y1                    NaN
y2                    NaN
y3                    NaN
y4                    NaN
y5                    NaN
y6                    NaN
y7                61.2053
y8                -9.4622
y9               -54.9369
y10               21.9552
y11              -18.7613
Name: 33, dtype: object
instance  34
class_name    downwarddog
x1                44.4239
x2                44.5022
x3               -62.2554
x4               -146.357
x5               -53.2183
x6               -155.482
x7                102.044
x8                    NaN
x9                    NaN
x10               226.342
x11                   NaN
y1               -28.4721
y2                45.7171
y3               -64.8186
y4               -121.677
y5               -64.8564
y6               -157.924
y7                127.503
y8                    NaN
y9                    NaN
y10               264.528
y11                   NaN

In [374]:
#RUN HERE
#store value of attributes per class
X = []

#store class belonging to a set of attributes
y = []

#store number of instances per class
class_count_dict = defaultdict(int)

#store all instances per class
class_dict = defaultdict()

#store the details of each class after training
training_details = defaultdict()

#number of attributes
attr_num = 0

#number of instances
total_instances = 0

#classes predicted for test.csv
predicted_classes=[]

# open_file(class_count_dict,class_dict, X, y)
# str_to_float(X)
# remove_missing_values(X)


preprocess(train_collection,train_instance_count,class_names,columns)
print(train_collection)

# attr_num = len(X[0])
# total_instances = sum([class_count_dict[key] for key in class_count_dict.keys()])
train()
# #train the data
# train(class_dict, class_count_dict, training_details, attr_num, total_instances)

# X_test=[]
# y_test=[]
# predicted_classes = predict(training_details,attr_num,len(training_details.keys()),X_test,y_test)

# print(evaluate(predicted_classes,y_test))

<class 'pandas.core.frame.DataFrame'>
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []

In [236]:
# This function should evaliate the prediction performance by comparing your model’s class outputs to ground
# truth labels

def evaluate(predicted,actual):
    same=0
    print("length actual:",len(actual))
    for i in range(len(actual)):
        if actual[i]==predicted[i]:
            same+=1
#         print(actual[i],"-----",predicted[i])
#     print(same)
    percentage=(float(same)/float(len(predicted)))*100
    return percentage

## Questions 


If you are in a group of 1, you will respond to **two** questions of your choosing.

If you are in a group of 2, you will respond to **four** questions of your choosing.

A response to a question should take about 100–250 words, and make reference to the data wherever possible.

#### NOTE: you may develope codes or functions to help respond to the question here, but your formal answer should be submitted separately as a PDF.

### Q1
Since this is a multiclass classification problem, there are multiple ways to compute precision, recall, and F-score for this classifier. Implement at least two of the methods from the "Model Evaluation" lecture and discuss any differences between them. (The implementation should be your own and should not just call a pre-existing function.)

### Q2
The Gaussian naıve Bayes classifier assumes that numeric attributes come from a Gaussian distribution. Is this assumption always true for the numeric attributes in this dataset? Identify some cases where the Gaussian assumption is violated and describe any evidence (or lack thereof) that this has some effect on the classifier’s predictions.

### Q3
Implement a kernel density estimate (KDE) naive Bayes classifier and compare its performance to the Gaussian naive Bayes classifier. Recall that KDE has kernel bandwidth as a free parameter -- you can choose an arbitrary value for this, but a value in the range 5-25 is recommended. Discuss any differences you observe between the Gaussian and KDE naive Bayes classifiers. (As with the Gaussian naive Bayes, this KDE naive Bayes implementation should be your own and should not just call a pre-existing function.)

### Q4
Instead of using an arbitrary kernel bandwidth for the KDE naive Bayes classifier, use random hold-out or cross-validation to choose the kernel bandwidth. Discuss how this changes the model performance compared to using an arbitrary kernel bandwidth.

### Q5
Naive Bayes ignores missing values, but in pose recognition tasks the missing values can be informative. Missing values indicate that some part of the body was obscured and sometimes this is relevant to the pose (e.g., holding one hand behind the back). Are missing values useful for this task? Implement a method that incorporates information about missing values and demonstrate whether it changes the classification results.

### Q6
Engineer your own pose features from the provided keypoints. Instead of using the (x,y) positions of keypoints, you might consider the angles of the limbs or body, or the distances between pairs of keypoints. How does a naive Bayes classifier based on your engineered features compare to the classifier using (x,y) values? Please note that we are interested in explainable features for pose recognition, so simply putting the (x,y) values in a neural network or similar to get an arbitrary embedding will not receive full credit for this question. You should be able to explain the rationale behind your proposed features. Also, don't forget the conditional independence assumption of naive Bayes when proposing new features -- a large set of highly-correlated features may not work well.